.task,
.desc {
  width: calc(100% - 40px);
  padding: 10px 20px;
  margin-bottom: 30px;
}
.desc {
  border: 2px solid rgb(41, 39, 39);
}
.label {
  text-align: left;
  font-weight: bold;
  float: left;
  margin-bottom: 5px;
}
.additionalInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.date,
.priority {
  padding: 5px 10px;
  &:hover {
    cursor: pointer;
  }
}
.btnSubmit {
  width: 100%;
  padding: 10px 25px;
  background-color: aquamarine;
  border: 0.5px solid aquamarine;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
.showListBtn {
  position: absolute;
  right: 5%;
  top: 5%;
  padding: 10px 25px;
  background-color: aquamarine;
  border: 0.5px solid aquamarine;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
